body{
	width:80%;
	margin-left: auto;
	margin-right:auto;
	     background-image: linear-gradient(0deg, #063f87, #db0808);
		 background-repeat: no-repeat;
	
	
}

p{
	font-size:20px;
	color:white;
	background-color:#14040480;
	padding: 20px;
	text-align:justify;
}


.main {
	background-color:#c9c9e969;
		width:100%;
	float:left;
	margin-top:10px;
		padding: 20px;
				border-radius: 15px;
}

.nav > li {
	display:inline;
	
}

.header{
	background-color: #c9c9e969;
	padding: 20px;
	width:100%;
	float:left;
		margin-top:10px;
		border-radius: 15px;
}

.footer{
	background-color:#c9c9e969;
		width:100%;
	float:left;
	margin-top:10px;
		padding: 20px;
				border-radius: 15px;
}

.logo{

	padding: 15px;
	margin:5px;
	width: 20%;

	float: left;
	

}
.title{

	padding: 15px;
		margin:5px;
		width : 70%;

			float: left;
			

}